<footer class="footer--wrapper">
    <div class="container mx-auto d-flex justify-content-around align-items-baseline footer">
    <!--    <div class="col-5 copyright">-->
            <p class="col-5 copyright text-muted">© 2015-2018 Affiliate Program</p>
<!--        </div>-->
        <nav class="navbar navbar-expand-lg navbar-dark d-flex col-5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mr-0 d-flex justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#header">SEND MESSAGE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#advantage">OUR ADVANTAGES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#">registration</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>