<header>
    <section class="container mx-auto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="270" height="56" viewBox="0 0 270 56">
                    <g fill="none" fill-rule="evenodd">
                        <text fill="#FFF" font-family="Lato-Black, Lato" font-size="18" font-weight="700" letter-spacing="1">
                            <tspan x="52" y="18">JUST SOME</tspan> <tspan x="52" y="40">AWESOME LOGO</tspan>
                        </text>
                        <path stroke="#FFCC01" stroke-width="2" d="M13 11h-3v34h3V11zm5 0v34h6V11h-6zM5 11H3v34h2V11zm24 0v34h8V11h-8z"/>
                    </g>
                </svg>
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </section>
</header>
