._section-title{
  font-size: 38px;
}
._section-sub-title {
  font-size: 22px;
  opacity: 0.4;
  color: #0d253e;
}
header {
  background: fixed url("../img/headbg.jpg") center center no-repeat;
  background-size: cover;
  .nav-link {
    text-transform: uppercase;
  }
  .btn-bs-y {
    box-shadow: 0 0 10px #ffc107;
    padding: 10px 15px;
    color: #0d253e;
  }
  & form {
    padding: 20px 0;
    margin: 20px 0;
    & h3 {
      vertical-align: center;
      font-size: 18px;
    }
    & button {
      box-shadow: 0 0 10px #0069d9;
    }
  }
}
.header--text {
  font-family: LatoLatinWeb, sans-serif;
  font-size: 42px;

  & span {
    color: #ffcc01;
  }
}
.advantages {
  &__wrapper {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &--item {
    &__svg-wrapper {
      padding: 40px;
      position: relative;
    }
    & svg {
      height: 82px;
      width: auto;
      position: relative;
      z-index: 2;
    }
  }
}

.advantages--item__svg-wrapper:before {
  position: absolute ;
  height: 100%;
  width: 100%;
  display: block ;
  content: '' ;
  z-index: 1 ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4f8fc;
  border-radius: 50%;
}
