._section-title{
  font-size: 38px;
}
._section-sub-title {
  font-size: 22px;
  opacity: 0.4;
  color: #0d253e;
}
header {
  background: fixed url("../img/headbg.jpg") center center no-repeat;
  background-size: cover;
  .nav-link {
    text-transform: uppercase;
  }
  .btn-bs-y {
    box-shadow: 0 0 10px #ffc107;
    padding: 10px 15px;
    color: #0d253e;
  }
  & form {
    padding: 20px 0;
    margin: 20px 0;
    & a {
      text-transform: uppercase;
    }
    & h3 {
      vertical-align: center;
      font-size: 18px;
    }
    & button {
      box-shadow: 0 0 10px #0069d9;
    }
  }
}
.header--text {
  font-family: LatoLatinWeb, sans-serif;
  font-size: 42px;

  & span {
    color: #ffcc01;
  }
}
.advantages {
  &__wrapper {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &--item {
    & figcaption {
      margin: 30px auto;
      width: 60%;
      font-size: 20px;
    }
  }
  &--circle {
    width: 40%;
    position: relative;
    z-index: 2;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
      background: #f4f8fc;
      border-radius: 50%;
    }
    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      height: auto;
      width: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.contactus {
  &--wrapper {
    background: url("../img/bgcontact.jpg") center bottom no-repeat;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
  }
  & form {
    margin-top: 30px;
  }
  & input,
  & textarea{
    background-color: rgba(30, 225, 255, 0);
    color: white;
  }
  & input:active,
  & textarea:active,
  & textarea:focus,
  & input:focus {
    background: rgba(255, 255, 255, 0.62);
  }
  & input::placeholder,
  & textarea::placeholder{
    color: #f4f8fc;
  }
  & button {
    box-shadow: 0 0 10px #0069d9;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
  }
  & h4 {
    text-transform: uppercase;
  }
}

.footer {
  &--wrapper {
    background: #ffffff;
    color: #0d253e;
  }
  & a {
    color: #0d253e;
    text-transform: uppercase;
  }
  & ul {
    text-align: right;
    text-orientation: upright;
  }
  & li {
    text-align: right;
    text-orientation: upright;
  }
}
body {
  font-family: LatoWeb, sans-serif;
}
